    * {
        margin: 0%;
    }
    
    body {
        font-family: 'Mulish', sans-serif;
    }
    
    section {
        padding-bottom: 2px;
    }
    
    #header {
        background-image: url(images/donation13.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 520px;
        background-position: center;
        text-align: center;
        font-weight: 700;
        color: white;
    }
    
    #header-text {
        background-color: rgba(169, 169, 169, 0.493);
        padding-bottom: 50px;
        padding-top: 50px;
    }
    
    #header h1 {
        padding-top: 100px;
        font-size: 50px;
        padding-bottom: 2%;
    }
    
    #header p {
        font-size: 15px;
        width: 40%;
        padding-left: 30%;
        padding-bottom: 2%;
    }
    
    #header button {
        padding: 10px 40px;
        background-color: olivedrab;
        font-size: 15px;
        box-shadow: 10px 10px 15px black;
        border-radius: 10px;
        color: white;
        font-weight: 600;
    }
    
    h1 {
        padding-top: 100px;
        font-size: 40px;
        padding-bottom: 2%;
        text-align: center;
    }
    
    h2 {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    
    #donate-today {
        text-align: center;
    }
    
    #donate-today p {
        font-size: 15px;
        width: 40%;
        padding-left: 30%;
        padding-bottom: 2%;
    }
    
    #input-amount {
        width: 45%;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }
    
    ul .donation-amount {
        font-size: 25px;
        display: inline-block;
        background-color: rgba(128, 128, 128, 0.131);
        width: 100px;
        padding: 35px 2px;
        margin: 3px;
        color: rgba(0, 0, 0, 0.748);
        margin-top: 30px;
        margin-bottom: 50px;
        border-radius: 10px;
        font-weight: 700;
    }
    
    #donate-today button {
        padding: 10px 40px;
        background-color: olivedrab;
        font-size: 15px;
        box-shadow: 10px 10px 15px black;
        border-radius: 10px;
        color: white;
        font-weight: 600;
    }
    
    #donate-plan {
        text-align: center;
    }
    
    #donate-plan p {
        font-size: 15px;
        width: 40%;
        padding-left: 30%;
        padding-bottom: 2%;
    }
    
    #donate-plan-units {
        display: flex;
        margin: 20px 150px;
        font-family: monospace;
    }
    
    #food-unit {
        background-image: url(icons/icon8.svg);
        background-repeat: no-repeat;
        background-color: rgba(127, 255, 212, 0.748);
        background-position: 30px top;
        background-size: 50px;
        text-align: left;
        margin: 0px 10px;
        padding: 80px 30px;
        width: 50%;
        border-radius: 10px;
        background-position-y: 20px;
    }
    
    #shelter-unit {
        background-image: url(icons/icon9.svg);
        background-repeat: no-repeat;
        background-color: lightblue;
        background-size: 45px;
        text-align: left;
        margin: 0px 10px;
        padding: 80px 30px;
        background-position: 30px top;
        width: 50%;
        border-radius: 10px;
        background-position-y: 20px;
    }
    
    #education-unit {
        background-image: url(icons/icon5.svg);
        background-repeat: no-repeat;
        background-color: bisque;
        background-size: 45px;
        text-align: left;
        margin: 0px 10px;
        padding: 80px 30px;
        background-position: 30px top;
        width: 50%;
        border-radius: 10px;
        background-position-y: 20px;
    }
    
    #blood-unit {
        background-image: url(icons/blood.svg);
        background-repeat: no-repeat;
        background-color: rgba(205, 92, 92, 0.703);
        background-size: 45px;
        text-align: left;
        margin: 0px 10px;
        padding: 80px 30px;
        background-position: 30px top;
        width: 50%;
        border-radius: 10px;
        background-position-y: 20px;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    #get-my-update {
        text-align: center;
    }
    
    #get-my-update-contact {
        padding: 70px;
        background-color: cornsilk;
        margin: 30px 200px;
    }
    
    #our-works {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
    }
    
    #our-works button {
        padding: 10px 40px;
        background-color: rgba(106, 142, 35, 0.808);
        font-size: 15px;
        box-shadow: 10px 10px 15px black;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        margin-top: 5px;
    }
    
    .dontion-projects {
        display: flex;
        width: 50%;
        margin: 15px;
    }
    
    .half-width {
        background-color: rgba(192, 192, 192, 0.477);
        width: 50%;
        padding: 5% 5% 8% 5%;
        font-family: monospace;
    }
    
    #email {
        background-color: darkgray;
        width: 50%;
        border-radius: 5px;
        padding: 10px 40px;
        text-align: left;
    }
    
    #subscribe-button {
        padding: 10px 40px;
        background-color: olivedrab;
        font-size: 15px;
        border-radius: 5px;
        color: white;
        width: 20%;
    }
    
    footer {
        margin-top: 20px;
        text-align: center;
        background-color: rgb(29, 50, 50);
        height: 40px;
        padding: 30px;
        color: white;
    }
    
    footer h3 {
        color: mediumpurple;
    }
    
    footer p {
        font-size: 10px;
    }
    
    .span-font {
        font-weight: 700;
        color: rgb(31, 61, 63);
        font-size: 20px;
    }